form action="/filly/new" method="post"
    input type="text" name="title" placeholder="Titel på filmen eller serien"
    input type="text" name="regissor_id" placeholder="regissör"
    input type="submit" value="Skapa Flim"